.form {
  display: grid;
  row-gap: 0.5rem;
  width: 50%;
  color: var(--color-primary);
}

.login {
  background-color: var(--color-primary);
}

.form input {
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
}
