.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-secondary);
  height: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid hsla(0deg 0% 100% 20%);
}
