.container {
  color: var(--color-text);
  font-family: var(--font-family);
  margin: 0.5rem;
}

.header {
  display: grid;
  grid-template-columns: 40% 1fr;
}

.header img {
  width: 100%;
}

.heart {
  width: auto;
}

.title {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  padding-left: 0.5rem;
}

.info {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  text-align: justify;
}

.info p {
  padding-top: 1rem;
  font-size: 1rem;
}

.rating {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.rating img {
  width: 2rem;
}

.identifier {
  display: none;
}
