.container {
  color: var(--color-text);
  font-family: var(--font-family);
  display: grid;
  grid-template-rows: 50% 1fr;
  height: 100vh;
}

.back {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 1;
  width: 3%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  display: grid;
  grid-template-columns: 1fr 15%;
  text-align: left;
}

.heart {
  grid-column: 2/3;
  justify-self: end;
}

.info {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  text-align: justify;
  padding: 1rem;
}

.info p {
  padding-top: 1rem;
  font-size: 1rem;
}

.genres {
  color: rgb(150 150 150);
}

.rating {
  display: flex;
  font-size: 1.5rem;
  padding-top: 1rem;
  column-gap: 0.5rem;
}

.rating span {
  align-self: flex-end;
}

.rating img {
  width: 2rem;
}

.identifier {
  display: none;
}

@media screen and (min-width: 700px) {
  .container {
    color: var(--color-text);
    font-family: var(--font-family);
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 1fr;
    height: 50%;
    margin: 1rem;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }

  .info {
    background-color: var(--color-secondary);
    height: 100%;
    border-radius: 0 10px 10px 0;
  }

  .back {
    position: fixed;
    top: 4%;
    left: 3%;
    z-index: 1;
    width: 1rem;
  }
}
