.container {
  color: var(--color-text);
  font-family: var(--font-family);
  background-color: var(--color-background);
}

.back {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 1;
  width: 3%;
}

.image {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70vh;
  overflow: scroll;
  object-fit: cover;
}

.title {
  display: grid;
  grid-template-columns: 1fr 15%;
  text-align: left;
}

.heart {
  grid-column: 2/3;
  justify-self: end;
}

.info {
  position: absolute;
  top: 60%;
  width: 100vw;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  text-align: justify;
  padding: 1rem;
}

.info p {
  padding-top: 1rem;
  font-size: 1rem;
}

.genres {
  color: rgb(150 150 150);
}

.rating {
  display: flex;
  font-size: 1.5rem;
  padding-top: 1rem;
  column-gap: 0.5rem;
}

.rating span {
  align-self: flex-end;
}

.rating img {
  width: 2rem;
}

.identifier {
  display: none;
}
