.container {
  display: grid;
  background-color: var(--color-background);
  color: var(--color-text);
  grid-template-columns: 35% 1fr;
  font-family: var(--font-family);
  border-top: 1px solid rgb(184 184 184);
}

.poster {
  height: 28vh;
  width: 100%;
  object-fit: cover;
}

.info {
  padding-left: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.date {
  color: var(--color-text-secondary);
}

.rating {
  display: flex;
  gap: 0.5rem;
  font-size: 1.4rem;
}

.star {
  width: 1.5rem;
  height: auto;
  transform: translateY(-6%);
}

@media screen and (min-width: 700px) {
  .container {
    display: grid;
    background-color: var(--color-secondary);
    color: var(--color-text);
    grid-template-columns: 15% 1fr;
    font-family: var(--font-family);
    margin: 2rem;
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }

  .poster {
    height: 20vh;
    width: 100%;
  }
}
