.container {
  display: grid;
  background-color: var(--color-background);
  color: var(--color-text);
  grid-template-columns: 40% 1fr;
  font-family: var(--font-family);
}

.image {
  width: 100%;
  height: 30vh;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
  align-items: flex-start;
  border-bottom: 1px solid rgb(184 184 184);
}

.rating {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.rating img {
  width: 2rem;
}

.star {
  transform: translateY(-6%);
}

.remove {
  background: none;
  width: auto;
}

.identifier {
  display: none;
}
