.container {
  display: grid;
  grid-template-columns: 45% 1fr;
  column-gap: 0.5rem;
  color: var(--color-text);
  font-family: var(--font-family);
  height: 40vh;
  padding: 0.5rem;
  background-color: var(--color-secondary);
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 0.8rem;
  row-gap: 0.5rem;
  background-color: var(--color-secondary);
}

h3 {
  padding-bottom: 0.5rem;
  letter-spacing: 0.05rem;
}

p {
  color: var(--color-text-secondary);
  line-height: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;

  /* display: -webkit-box !important; */
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  white-space: normal;
}

button {
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
}

@media screen and (min-width: 1000px) {
  .container img {
    width: 100%;
    height: 50vh;
  }

  .rating {
    display: flex;
    gap: 0.3rem;
  }

  .rating img {
    height: 1rem;
    transform: translateY(-13%);
  }
}

@media screen and (min-width: 750px) {
  .container img {
    width: 100%;
    height: 50vh;
  }

  .rating {
    display: flex;
    gap: 0.3rem;
  }

  .rating img {
    height: 1rem;
    transform: translateY(-13%);
  }
}
