.container {
  margin: 0.5rem 0;
  display: grid;
  row-gap: 0.5rem;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
